
/* Base Theme Variables */
* {
    /* Theme Colors */
        -fx-bg-primary: #f1efe9;
    -fx-bg-secondary: #e9e9e9;
    -fx-accent-primary: #5c77ff;
    -fx-accent-secondary: #252835;
    -fx-bg-filler: #f8f8f8fd; /* Filler background color */
    
    /* Background Colors */


    /* Button Base Color */
    -fx-btn-base: #ffffff;
    -fx-btn-base-pressed: #91a3ff;

}


@font-face {
    font-family: 'Organo';
    src: url('/cr/ac/una/flowfx/resources/font/Organo.ttf');
}
@font-face {
    font-family: 'Outfit-Bold';
    src: url('/cr/ac/una/flowfx/resources/font/Outfit-VariableFont_wght.ttf');
}

/* Base Styles for All Components */
.root, .mfx-button, .mfx-text-field, .label, .jfx-title {
    -fx-font-family: 'Outfit-Bold';
}

/* Container Styles */
.container {
    -fx-background-color: -fx-bg-primary;
    -fx-background-radius: 24;
    -fx-border-color:-fx-bg-secondary;
    -fx-border-width: 1;
    -fx-border-radius: 24;
}
.container-sub {
    -fx-background-color: white;
    -fx-background-radius: 24;
    
    -fx-border-color:-fx-bg-secondary;
    -fx-border-width: 1;
    -fx-border-radius: 24;

}
.container-sub-rounded-top {
    -fx-background-color: white;
    -fx-background-radius: 24 24 12 12;
    
    -fx-border-color:-fx-bg-secondary;
    -fx-border-width: 1;
    -fx-border-radius: 24 24 12 12;

}
.container-sub-rounded-bottom {
    -fx-background-color: white;
    -fx-background-radius: 12 12 24 24;
    
    -fx-border-color:-fx-bg-secondary;
    -fx-border-width: 1;
    -fx-border-radius: 12 12 24 24;

}
.filler {
    -fx-background-color: -fx-bg-filler;
}
.filler-rounded {
    -fx-background-color: -fx-bg-filler;
    -fx-background-radius: 24;
    /* Shadow */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}
.handle {

}
.handle:focused {

}

/* ############################## Button Base Styles ############################## */

.mfx-button {
    -fx-background-color: -fx-btn-base;
    -fx-background-radius: 24;
}
.mfx-button:hover {
    -fx-background-color: derive(-fx-btn-base, -10%);
    -fx-background-radius: 24;
}
.mfx-button:pressed {
    -fx-background-color: -fx-btn-base-pressed;
    -fx-background-radius: 24;
}
.mfx-button:focused {
    -fx-background-color: -fx-btn-base-pressed;
    -fx-background-radius: 24;
}
.mfx-button.jfx-button {
    -fx-background-color: #4c6afe;
    -fx-background-radius: 24;
    -fx-border-color: derive(-fx-accent-primary, -10%);
    -fx-border-width: 1;
    -fx-border-radius: 24;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}


/* Icons */
.jfx-home > ImageView {
    -fx-image: url("../resources/icons/lucide--home.png");
}
.jfx-settings > ImageView {
    -fx-image: url("../resources/icons/lucide--settings.png");
}
.jfx-projects > ImageView {
    -fx-image: url("../resources/icons/lucide--folder-search.png");
}
.jfx-maximize > ImageView {
    -fx-image: url("../resources/icons/lucide--maximize.png");
}
.jfx-minimize > ImageView {
    -fx-image: url("../resources/icons/lucide--minimize.png");
}
.jfx-close > ImageView {
    -fx-image: url("../resources/icons/lucide--x.png");
}
/* ############################## Labels Base Styles ############################## */
.jfx-label {
    -fx-font-family: 'Outfit-Bold';
    -fx-font-size: 14px;
}
.jfx-hyperlink {
    -fx-text-fill: -fx-accent-primary;
    -fx-font-family: 'Outfit-Bold';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.jfx-title {
    -fx-font-family: 'Organo';
    -fx-font-size: 68px;
}
.jfx-title-small {
    -fx-font-family: 'Organo';
    -fx-font-size: 36px;
}
.jfx-hyperlink:hover {
    -fx-text-fill: derive(-fx-accent-primary, 50%);
}

/* ############################## TextField Base Styles ############################## */
.mfx-text-field {
  -mfx-main: white;
  -fx-background-color: white;
  -fx-background-radius: 24;
  -fx-border-color: white;
  -fx-border-radius: 24;
  -fx-padding: 5;
}
.mfx-text-field:readonly,
.mfx-text-field:readonly .text-field {
  -fx-cursor: default;
}
.mfx-text-field .text-field {
  -fx-highlight-fill: #ECE0FD;
  -fx-prompt-text-fill: white;
}
.mfx-text-field:focus-within {
  -fx-background-insets: 2;
  -fx-border-color: white;
  -fx-border-width: 1.5;
  -fx-border-insets: -0.5;
}
.mfx-text-field .floating-text {
  -fx-text-fill: white;
}
.mfx-text-field:floating .floating-text {
  -fx-background-color: white;
}
.mfx-text-field:focus-within .floating-text {
  -fx-text-fill: white;
}
.mfx-text-field .measure-unit {
  -fx-text-fill: white;
}
.mfx-text-field .text-field {
  -fx-text-box-border: transparent;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.mfx-text-field .text-field:focused {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
.mfx-text-field:disabled {
  -fx-border-color: rgba(0, 0, 0, 0.1);
}
.mfx-text-field:disabled .floating-text {
  -fx-text-fill: white;
}
.mfx-text-field:disabled .text-field {
  -fx-text-inner-color: white;
}






