
* {
    -fx-bone-color: #e4e6ea;
    -fx-darker-bone-color: #dcdfe2;
}

.jfx-container {
    -fx-background-color: -fx-bone-color;
    /* -fx-border-color: transparent; */
    -fx-border-width: 0;
    -fx-padding: 0;
}

.jfx-container-rounded {
    -fx-background-color: -fx-bone-color;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-radius: 12;
}

.jfx-container-rounded-bottom {
    -fx-background-color: -fx-bone-color;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-radius: 0 0 12 12;
}

.jfx-container-drag-handle {
    -fx-background-color: -fx-darker-bone-color;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-radius: 12 12 0 0;
    -fx-cursor: hand;
}

.jfx-container-drag-handle:hover {
    -fx-background-color: derive(-fx-darker-bone-color, -10%);
}

.jfx-container-rounded {
    -fx-background-color: -fx-bone-color;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-radius: 12;
    transition: -fx-effect 0.5s ease;
}

.rounded-image {
    -fx-background-radius: 12; 
}

.grid-pane {
    -fx-background-color: -fx-darker-bone-color;
}

.grid-cell {
    -fx-background-color: -fx-darker-bone-color;
}

